<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>


<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">View Student</h1>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-hover table-responsive-xl">
                        <tr>
                            <td>First name</td>
                        </tr>
                        <tr>
                            <td th:text="${student.firstName}"></td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                        </tr>
                        <tr>
                            <td th:text="${student.lastName}"></td>
                        </tr>
                    </table>
                    <a href="#" th:href="@{'/newstudentform'}"> <button type="button" class="btn btn-primary">Edit Student</button></a>
                </div>
            </div>
        </div>
    </div>

        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Courses Taken</h1>
                </div>
                <div class="panel-body">

                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <th>Course name</th>
                            </thead>
                            <tr  th:each="courses : ${student.courses}">
                                <td th:text="${courses.name}"></td>
                            </tr>
                        </table>

                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-3" id="dglow" style="display: none">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Available Courses</h1>
                </div>

            </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
            <div class="pull-right">
                <a href="#" th:href="@{'/index/'}"><button type="button" class="btn btn-primary float-right">Return to Home</button></a>
            </div>
        </div>
    </div>
</div>

</body>

</html>